
<header class="content">
  <h1 class="primary title no-link">the peach speech</h1>

  <div class="presentation-card">
      <img src="assets/img/peach.png" alt="peach_logo"/>
      <div>
          <p><span>{{ 'HEADER.LINE1' | translate }}</span> <a href="https://github.com/vroxa" target="__blank">Víctor de la Rocha</a>.</p>
          <p>
            <span>{{ 'HEADER.LINE2' | translate }}</span><br>
            <span>{{ 'HEADER.LINE3' | translate }}</span> <code class="hljs-keyword">&lt;code/&gt;</code>
          </p>
      </div>
  </div>

</header>

