@import 'src/styles/theme.scss';

.content {
  margin: 2rem 30%;
  width: 40%;
  display: flex;
  flex-direction: column;
  
  h1 {
    text-align: center;
  }

  .presentation-card {
    display: flex;
    align-items: center;

    img {
      width: 5rem;
      height: 5rem;
      display: block;
    }

    div {
      line-height: 0.8rem;
    }
  }
}
