
<mat-form-field class="filter-input" appearance="outline">
  <input matInput #filter autocomplete="off">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<div class="content" *ngIf="nodes">

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="bg">
  
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <div class="node-content">
        <peach-article-tree-node
          [article]="node.article">
        </peach-article-tree-node>
      </div>
    </mat-tree-node>
  
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle color="accent">
        <mat-icon>
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
  
      <span class="month app-font">{{ node.name | capitalize }}</span>
    </mat-tree-node>
    
  </mat-tree>

</div>
