
<div class="container">

  <div class="language-toggle">
    <peach-language-toggle></peach-language-toggle>
  </div>
  
  <div class="content">
    <peach-header></peach-header>
    
    <div class="articles">
    
      <article *ngFor="let article of articles$ | async">
        <peach-article-anchor
          class="article"
          [article]="article"
        ></peach-article-anchor>
      </article>
      
      <a [routerLink]="['repository']">
        <button mat-raised-button color="accent">
          {{ 'HOME.VIEW_ALL' | translate }}
        </button>
      </a>
    
    </div>
  </div>

</div>
