@import 'palettes.scss';

/* 
    Highlight.js Monokai sublime theme (rework) 
    https://github.com/highlightjs/highlight.js/blob/main/src/styles/monokai-sublime.css
    Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/
*/

::ng-deep p {
    line-height: 1.5rem;
}

::ng-deep ul li::marker {
    content: "»  ";
    font-size: 1.1rem;
    color: $accent-color;
}

::ng-deep pre {
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid #474851;
    padding: 1rem;
    width: calc(100% - 2rem);
    overflow-x: auto;
}

::ng-deep code {
    font-family: 'Fira Code', monospace;
}
  
::ng-deep .hljs-tag,
::ng-deep .hljs-subst {
    color: #f8f8f2;
}
  
::ng-deep .hljs-strong,
::ng-deep .hljs-emphasis {
    color: #a8a8a2;
}

::ng-deep .hljs-bullet,
::ng-deep .hljs-quote,
::ng-deep .hljs-number,
::ng-deep .hljs-regexp,
::ng-deep .hljs-literal,
::ng-deep .hljs-link {
    color: #ae81ff;
}

::ng-deep .hljs-code,
::ng-deep .hljs-title,
::ng-deep .hljs-section,
::ng-deep .hljs-title.class_
::ng-deep .hljs-selector-class {
    color: #a6e22e;
}

::ng-deep .hljs-strong {
    font-weight: bold;
}

::ng-deep .hljs-emphasis {
    font-style: italic;
}

::ng-deep .hljs-keyword,
::ng-deep .hljs-selector-tag,
::ng-deep .hljs-name,
::ng-deep .hljs-attr {
    color: $primary-color;
}

::ng-deep .hljs-symbol,
::ng-deep .hljs-attribute {
    color: #66d9ef;
}

::ng-deep .hljs-params,
::ng-deep .hljs-class .hljs-title {
    color: #f8f8f2;
}

::ng-deep .hljs-string,
::ng-deep .hljs-type,
::ng-deep .hljs-built_in,
::ng-deep .hljs-selector-id,
::ng-deep .hljs-selector-attr,
::ng-deep .hljs-selector-pseudo,
::ng-deep .hljs-addition,
::ng-deep .hljs-variable,
::ng-deep .hljs-template-variable {
    color: #e6db74;
}

::ng-deep .hljs-comment,
::ng-deep .hljs-deletion,
::ng-deep .hljs-meta {
    color: #75715e;
}

// Select elements whose id attribute is not empty.
// and tabindex = "-1".
// This selects markdown headers.
::ng-deep *[tabindex="-1"][id]:not([id=""]) {
    &:hover {
        // Includes a hash at the end of the header.
        &::after {
            content: ' #';
            font-size: inherit;
            color: #e6db74;
            font-weight: bold;
        }

        cursor: pointer;
    }

    &:focus-visible {
        outline: none;
    }
}

::ng-deep table {
    background-color: transparent;
    width: auto;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: #282A34;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 5px;

    tbody tr:nth-child(odd) {
        background-color: #2B2D37;
    }

    td,
    th {
        border: 1px solid #696969;
        padding: 10px;
        text-align: justify;
        text-justify: none;
    }
}

::ng-deep blockquote {
    border-radius: 5px;
    border-left: 7px solid #33363F;
    padding: 5px 1rem;
    background-color: #1e1f26;
}

@media (max-width: 992px) {
    ::ng-deep blockquote {
        width: calc(100% - 2rem);
        margin-inline-end: 0;
        margin-inline-start: 0;

        p {
            line-height: 1rem;
        }
    }

    // ::ng-deep pre {
    //     width: fit-content;

    //     code {
    //         max-width: 100%;
    //         overflow-x: auto;
    //     }
    // }
}

@keyframes highlight-header {
    0% {
        background-color: $background-color;
    }
    50% {
        background-color: $accent-color;
        color: black;
    }
    100% {
        background-color: $background-color;
    }
}
