@use '@angular/material' as mat;
@import './palettes.scss';

@mixin bg($color) { background-color: $color !important; }
@mixin color($color) { color: $color !important; }

.primary { @include color($primary-color); }
.accent { @include color($accent-color); }
.bg-primary { @include bg($primary-color); }
.bg-accent { @include bg($accent-color); }
.bg { @include bg($background-color); }

.title {
  font-family: Montserrat, sans-serif;
}

.app-font {
  font-family: Quicksand, sans-serif;
}

.primary.title {
  width: fit-content;
  cursor: pointer;

  &:hover {
    color: rgba($primary-color, 0.75);
  }
}

.full-w { width: 100%; }
.full-h { height: 100%; }

a {
  color: $accent-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: rbga($accent-color, 0.1);
  }
}

*:not(code, span)::selection {
  @include color($background-color);
  @include bg(mat.get-color-from-palette($accent-palette, 300));
}

code::selection, span::selection {
  @include color($background-color);
  @include bg(mat.get-color-from-palette($primary-palette, 100));
}
