@import '@angular/material/theming';

$contrast-color: #fff;
$primary-color: #fb6d75;
$accent-color: #e6db74;
$background-color: #262832;

$accent-palette: (
  50 : #fcfbee,
  100 : #f8f4d5,
  200 : #f3edba,
  300 : #eee69e,
  400 : #eae089,
  500 : $accent-color,
  600 : #e3d76c,
  700 : #dfd261,
  800 : #dbcd57,
  900 : #d5c444,
  A100 : #ffffff,
  A200 : #fffef6,
  A400 : #fff8c3,
  A700 : #fff4a9,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$primary-palette: (
  50 : #fee5ee,
  100 : #fdbed5,
  200 : #fc93b9,
  300 : #fb679c,
  400 : #fa4787,
  500 : $primary-color,
  600 : #f8226a,
  700 : #f71c5f,
  800 : #f61755,
  900 : #f50d42,
  A100 : #ffffff,
  A200 : #ffecf0,
  A400 : #ffb9c6,
  A700 : #ffa0b2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// Background palette for Peach theme.
$mat-peach-theme-background: (
  status-bar: black,
  app-bar:    map_get($mat-grey, 900),
  background: $background-color,
  hover:      rgba(white, 0.04),
  card:       map_get($mat-grey, 800),
  dialog:     map_get($mat-grey, 800),
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);

// Foreground palette for Peach theme.
$mat-peach-theme-foreground: (
  base:              white,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba(white, 0.3),
  disabled-text:     $light-disabled-text,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-secondary-text,
  icon:              white,
  icons:             white,
  text:              white,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);
