
@use '@angular/material' as mat;
  
@include mat.core();
@import './palettes.scss';

@function create-peach-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $mat-peach-theme-foreground,
    background: $mat-peach-theme-background
  );
}

$thepeachspeech-app-primary: mat.define-palette($primary-palette);
$thepeachspeech-app-accent: mat.define-palette($accent-palette);
$thepeachspeech-app-warn: mat.define-palette(mat.$red-palette);

$thepeachspeech-app-theme: create-peach-theme(
  $thepeachspeech-app-primary,
  $thepeachspeech-app-accent
);
