@import 'src/styles/theme.scss';

.date { 
  color: rgba($contrast-color, .65); 
  transform: translateY(-50%);
  line-height: 0.65rem;
}

.oneliner {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: justify;
  text-justify: auto;
}

.primary.title {
  width: fit-content;
  cursor: pointer;

  &:hover {
    color: rgba($primary-color, 0.75);
  }
}
