
<mat-drawer-container class="container">
  <mat-drawer mode="side" opened position="end" class="sidenav">
    <peach-articles-tree></peach-articles-tree>
  </mat-drawer>
  <mat-drawer-content class="content">

    <div class="button-container">
      <button mat-icon-button routerLink="/" class="home-button" color="accent">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>

    <article class="article-content" *ngIf="!fetchingArticle; else fetching">
      <div *ngIf="htmlContent; else notFound">

        <header class="article-header">
          <!-- We know the article was found here, cause we fetched the HTML content of it -->
          <h1 class="title primary">{{ article!.title }}</h1>
          <p class="subtitle">{{ article!.date | date: 'longDate' }}</p>
          <mat-chip-list>
            <mat-chip *ngFor="let tag of article!.tags"> {{ tag }} </mat-chip>
          </mat-chip-list>
        </header>

        <div class="full-w article-frame" [innerHTML]="htmlContent! | safe"></div>

      </div>
    </article>

  </mat-drawer-content>
</mat-drawer-container>

<ng-template #fetching>
  fetching...
</ng-template>

<ng-template #notFound>
  <peach-article-not-found [article]="article">
  </peach-article-not-found>
</ng-template>