@use '@angular/material' as mat;

@import './styles/theme.scss';
@import './styles/global.scss';

@include mat.all-component-themes($thepeachspeech-app-theme);

html, body { height: 100%; width: 100%; }

body { 
  margin: 0; 
  display: inline-block; 
  font-family: Quicksand, sans-serif;
}
