@use '@angular/material' as mat;

@import '~styles/theme.scss';
@import '~styles/global.scss';

@include mat.all-component-themes($thepeachspeech-app-theme);

html, body { height: 100%; width: 100%; }

body { 
  margin: 0; 
  display: inline-block; 
  font-family: Quicksand, sans-serif;
}

::-webkit-scrollbar {
  height: calc(10px + 1rem);
  width: calc(10px + 1rem);
}

::-webkit-scrollbar-track {
  background: $background-color;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 99999px;
  border: 0.5rem solid transparent;
  background-clip: padding-box;

  &:hover {
    background-color: mat.get-color-from-palette($primary-palette, 700);
    border-radius: 99999px;
    border: 0.5rem solid transparent;
    background-clip: padding-box;
  }
}

::-webkit-scrollbar-corner {
  background-color: $background-color;
}
